<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="your-board.component.css">
    <title>Taskify - Your Boards</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="https://raw.githubusercontent.com/omega-jean/Taskify/refs/heads/main/Angular/taskify-frontend/public/assets/logo-taskify.png" alt="logo" class="logo">
            <h1 class="title">Taskify</h1>
        </div>
        <nav>
            <a class="nav-button" routerLink="" routerLinkActive="active">Home</a>
        </nav>
    </header>
    
    <main>
        <div class="your-boards-container">
            <h2>Your Boards</h2>
            <button class="add-list-btn" (click)="toggleAddBoardForm()">+ Create Board</button>
            
            <div *ngIf="showAddBoardForm" id="addBoardForm">
                <input type="text" [(ngModel)]="newBoardName" placeholder="Enter board name" />
                <button (click)="addBoard()">Create Board</button>
            </div>

            <div class="board-list">
                <div *ngFor="let board of boards" class="board-item" (click)="navigateToTaskManager(board.name)">
                    <p>{{ board.name }}</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
