/* Universal reset for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header container and styling */
header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the logo container */
.logo-container {
    display: flex;
    align-items: center;
}

/* Styling for the logo image */
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Title styling for the header */
h1 {
    font-size: 24px;
    color: #333;
}

/* Page title styling */
.page-title {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #00003e;
}

/* Navigation button styling */
.nav-button {
    background-color: #00003e;
    color: white;
    border: 2px solid #00003e;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* Hover effect for navigation buttons */
.nav-button:hover {
    background-color: #00008a;
}

/* Main content area styling */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjusted for header height */
    width: 100%;
}

/* Profile container styling */
.profile-container {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Profile heading styling */
h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Label styling for inputs */
label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

/* Styling for password input fields */
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Focus effect on password input */
input[type="password"]:focus {
    border-color: #00003e;
}

/* Submit button styling */
.submit-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #00003e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Hover effect for submit button */
.submit-button:hover {
    background-color: #00008a;
}
