<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="register.component.css">
    <title>Taskify - Register</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="assets/logo-taskify.png" alt="logo" class="logo">
            <h1 class="title">Taskify</h1>
        </div>
        <nav>
            <button class="nav-button" routerLink="" routerLinkActive="active">Home</button>
            <button class="access-button" routerLink="/login" routerLinkActive="active">Login</button>
        </nav>
    </header>
    
    <main>
        <div class="register-container">
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" required>
                    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                        <small class="error">Invalid email</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" required>
                    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                        <small class="error">Password must be at least 6 characters long</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
                    <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
                        <small class="error">Passwords do not match</small>
                    </div>
                </div>
                <button type="submit" class="register-button" [disabled]="registerForm.invalid">Register</button>
            </form>
            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
            <p>Already have an account? <a routerLink="/login" routerLinkActive="active">Login here</a></p>
        </div>
    </main>

    <div class="menu-button">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</body>
</html>
