/* CSS de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.title {
    font-size: 24px;
    color: #333;
}

.access-button {
    padding: 10px 15px;
    background-color: #00003e;
    color: white;
    border: none;
    cursor: pointer;
}

.access-button:hover {
    background-color: #00008a;
}

.nav-button {
    padding: 10px 15px;
    background-color: #007bff; /* Couleur bleu */
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.nav-button:hover {
    background-color: #0056b3; /* Couleur bleu foncé au survol */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #218838;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.divider {
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.divider span {
    background-color: #fff;
    padding: 0 10px;
}

.divider::before,
.divider::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    width: 100%;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.google-login {
    padding: 10px;
    background-color: #db4437;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.google-login:hover {
    background-color: #c13524;
}
